@model Vidly.Models.Movie


@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>@Model.Name</h2>

<ul>
    <li><b>Genero: &nbsp </b> @Model.Genre.Name</li>
    <li><b>Fecha de estreno: &nbsp </b> @Model.ReleaseDate.ToShortDateString()</li>
    <li><b>Fecha de adquisión: &nbsp </b> @Model.DateAdded.ToShortDateString()</li>
    <li><b>Cantidad en stock: &nbsp </b> @Model.CantStock</li>
</ul>